body {
    background-color: rgb(9, 160, 248);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.level {
   height: 30px;
   width: 60px;
   cursor: pointer;
   background-color: rgb(7, 245, 86) ;
}

.board{
    color: wheat
    
}
table {
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: rgb(240, 172, 90);
}

.cell img {
    width: 25px;
    height: auto;
}

.revile {
    background-color: lightslategrey;
}

.modal {
    display: none;
    background-color: rgb(117, 11, 11);
    border: 5px solid rgb(253, 166, 5);
    color: yellow;
    width: 300px;
    height: 200px;
    font-size: 32px;
    
    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
    
  }
  
  
  .restart-btn {
    background-color: rgb(250, 246, 7);
    color: red;
    padding: 10px;
    border: 1px solid  ;
    border-radius: 30% ;
    margin-left: 60px;
    margin-top: 20px;
    cursor: pointer;
    margin: auto;
    
  }



